<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>countingstar</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm/style.css">
</head>
<body onload="draw();">
<div class="wrapper">
  <div class="info-container">
    <a href="/" class="nes-badge" id="nes-badge">
      <span class="is-warning">BACK</span>
    </a>    
    <i class="nes-ash" id="nes-ash"></i>
    <div class="nes-container is-rounded" id="game-title">
      counting Star !<br>
      <i class="snes-jp-logo"></i>
    </div>
    <div class="nes-container with-title is-dark" id="score-board">
      <div class="title" id="board-title">SCORE BOARD</div>
      <div id="Seoul-uni" style="display: flex; justify-content: center; align-items: center; color: white;font-size: 20px; margin-top: 15px;">SCORE :<span id="score" style="display: flex; justify-content: center; align-items: center; font-size: 20px;">1</span></div>
      
    </div>
  </div>
  <div class="game__box">
    <div class="box" id="box">
      <canvas class="canvas1" id="canvas1"></canvas>
    </div>
    </div>
  </div>
</div>
   
</body>
</html>
