<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>countingstar</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>
<body onload="draw();">
  <span id="score">asdfasdf</span>
    <div class="box" id="box">
      <canvas class="canvas1" id="canvas1"></canvas>
    </div>
</body>
</html>
