html {
    overflow: hidden;
}

label,
input {
    font-family: 'NeoDunggeunmo';
}

@media (max-width: 1100px) {
     i 
     { display: none; } 
    }


.nes-container {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30em;
    margin: auto !important;
    margin-top: 6em !important;
    padding-bottom: 1.5rem !important;
}

.nes-container h1 {
    text-align: center;
}

.nes-container label {
    margin-bottom: 1em;
}

.nes-btn {
    display: flex;
    justify-content: flex-end;
}

.nes-balloon {
    position: absolute !important;
    bottom: 8em !important;
    left: 5em !important;
}

.icons-left {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.icons-right {
    position: absolute;
    bottom: 2em;
    right: 2em;
}
