<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor VS Student</title>

    <link rel="stylesheet" href="/dodging-professor/gamePage.css">
    <link rel="stylesheet" href="/dodging-professor/header.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/dodging-professor/keyHandler.js" defer></script>
    <script src="/dodging-professor/header.js" defer></script>
    <script src="https://kit.fontawesome.com/d5ec65f1e9.js" crossorigin="anonymous"></script>
    <script src="/dodging-professor/gamePage.js" defer></script>
    <script src="/dodging-professor/gameObject" defer></script>
    <script src="/dodging-professor/modal.js" defer></script>
    <link rel="stylesheet" href="/dodging-professor/modal.css">

</head>
<body>
<!--
    <div id='nav_bar'>
    </div>
    <div class="modal_back">
    </div>
 -->

    <div class="game_container">
        <canvas
            id = "myCanvas"
            width = ' 700'
            height = ' 400' >
<!--             width ='1024'
            height = '768'>  -->
        </canvas>

        <div style="text-align: center;">
            <button
                type="button"
                id="start_btn" onclick="start()">
                Start
            </button>
        </div>
    </div>

    <audio
        controls id="bgm"
        hidden='true'>

        <source
            src="/dodging-professor/sounds/InvisibleSizeDown.mp3"
            type="audio/mp3">
    </audio>

</body>
</html>
